// Specific CSS for your home-page
.body {
  background-color: #feefe2;
  position: relative;

  .logo-image {
    width: 350px;
  }

  .image-center-logo {
    width: 30%;
    max-width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius:20px;
    box-shadow: -5px -5px 5px rgba(255,255,255,0.4),
    5px 5px 5px rgba(0,0,0,0.4) ;
  }

  .main-header {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #feefe2;
    position: relative;

    @media (max-width: 760px) {
      height: 200px;
    }

    .main-header-image-left {
      height: 100%;
      max-width: 50%;
      // border-radius: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;
      background-image: url('photoIntro.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width:100%;
      border-right:0.5px solid #BF7857;
      border-bottom-right-radius:50px;
    }

    .main-header-image-right {
      height: 100%;
      max-width: 50%;
      // border-radius: 50%;
      display: flex;
      flex-direction: column;
      text-align: right;
      background-image: url('kobido1.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width:100%;
      border-left:0.5px solid #BF7857;
      border-bottom-left-radius:50px;
    }

    .central-line {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: rgba(191, 120, 87, 0.7);
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  .main-content {
    background-color: #feefe2;

    .image-separator1, .image-separator2 {
      text-align: center;

      img {
        width:200px;

        @media (max-width: 760px) {
          width: 100px;

        }
      }

    }

    .main-content-text {
      width: 100% ;
      margin: auto;
      color:#BF7857;
      text-align:justify;
      padding: 0 100px;

      @media (max-width: 760px) {
        padding: 0 20px;
      }

      h2 {
        font-size: 2em;
        margin-bottom: 20px;
      }

      p {
        font-size: 1em;

        @media (max-width:960px) {
          font-size: 0.6rem;
        }
      }

      a {
        color: #BF7857;
        // color: #ff8e5a;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: #ff8e5a;
        }
      }
    }

    .massage1 {
      position: relative; /* Ensures a stacking context */
      width: 90%;
      margin: auto;
      height: 500px;
      padding: 20px;

      @media (max-width: 960px) {
        height: 700px;
      }

      .central-line-massage1 {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(191, 120, 87, 0.7);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1; /* Behind the content */
      }

      .massage1-content {
        z-index: 10; /* Significantly above the central line */
        width: 100%;
        height: 90%;
        padding: 20px;
        background-color: #feefe2;
        border-radius: 20px;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #BF7857;
        border-top: 1px solid #bf78574e;
        border-bottom: 1px solid #bf78574e;

        @media (max-width: 960px) {
          padding: 10px;
          flex-direction: column;
        }

        .massage1-text {
          width: 50%;
          margin: auto;
          font-size: 1em;
          text-align: left;

          @media (max-width: 960px) {
            width: 90%;
            font-size: 0.6em;
          }

          table {
            width:200px;
            margin: auto;

            @media (max-width: 960px) {
              width: 100px;
              margin-top:0;
            }

            th, td {
              padding: 5px 5px 0 5px;
              text-align: center;

              @media (max-width: 960px) {
                padding: 0px 2px 0 2px;
              }
            }
          }

          h1 {
            text-align: center;
            color: #ff8e5a;
            font-family:'Tan Pearl', sans-serif;
          }
        }

        .massage1-image {
          width: 30%;
          height: 100%;
          text-align: center;
          background-image: url('massageRaya.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 20px;
          box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                      inset 5px 5px 5px rgba(0, 0, 0, 0.2);
          margin-right: 50px;

          @media (max-width: 960px) {
            width: 70%;
            height: 50%;
            margin: auto;
          }
        }
      }
    }

    .massage2 {
      position: relative; /* Ensures a stacking context */
      width: 90%;
      margin: auto;
      height: 600px;
      padding: 20px;

      @media (max-width: 960px) {
        height: 700px;
      }

      .central-line-massage2 {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(191, 120, 87, 0.7);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1; /* Behind the content */
      }

      .massage2-content {
        z-index: 10; /* Significantly above the central line */
        width: 100%;
        height: 90%;
        padding: 20px;
        background-color: #feefe2;
        border-radius: 20px;
        // box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4);
        display: flex;
        // margin: 10px auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #BF7857;
        border-top: 1px solid #bf78574e;
        border-bottom: 1px solid #bf78574e;

        @media (max-width: 960px) {
          padding: 10px;
          flex-direction: column-reverse;
        }

        .massage2-text {
          width: 50%;
          margin: auto;
          font-size: 1em;
          text-align: left;

          @media (max-width: 960px) {
            width: 90%;
            font-size: 0.6em;

          }

          table {
            width:200px;
            margin: auto;

            @media (max-width: 960px) {
              width: 100px;
              margin-top:0;
            }

            th, td {
              padding: 5px 5px 0 5px;
              text-align: center;

              @media (max-width: 960px) {
                padding: 0px 2px 0 2px;
              }
            }

          }

          h1 {
            text-align: center;
            color: #ff8e5a;
            font-family:'Tan Pearl', sans-serif;
          }

          p.info {
            text-align: center;
            font-size: 0.8em;
            margin-top: 10px;

            @media (max-width: 960px) {
              font-size: 0.6em;
              margin-top: 5px;
            }
          }
        }

        .massage2-image {
          width: 30%;
          height: 100%;
          text-align: center;
          background-image: url('kobido.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 20px;
          box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                      inset 5px 5px 5px rgba(0, 0, 0, 0.2);
          margin-right: 50px;

          @media (max-width: 960px) {
            width: 70%;
            height: 50%;
            margin: auto;
          }
        }
      }
    }

    .massage3 {
      position: relative; /* Ensures a stacking context */
      width: 90%;
      margin: auto;
      height: 600px;
      padding: 20px;


      .central-line-massage3 {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(191, 120, 87, 0.7);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1; /* Behind the content */
      }

      .massage3-content {
        z-index: 10; /* Significantly above the central line */
        width: 100%;
        height: 90%;
        padding: 20px;
        background-color: #feefe2;
        border-radius: 20px;
        // box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4);
        display: flex;
        // margin: 10px auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #BF7857;
        border-top: 1px solid #bf78574e;
        border-bottom: 1px solid #bf78574e;

        @media (max-width: 960px) {
          padding: 10px;
          flex-direction: column;
        }

        .massage3-text {
          width: 50%;
          margin: auto;
          font-size: 1em;
          text-align: left;

          @media (max-width: 960px) {
            width: 90%;
            font-size: 0.6em;
          }

          table {
            width:200px;
            margin: auto;

            @media (max-width: 960px) {
              width: 100px;
              margin-top:0;
            }

            th, td {
              padding: 5px 5px 0 5px;
              text-align: center;

              @media (max-width: 960px) {
                padding: 0px 2px 0 2px;
              }
            }
          }

          h1 {
            text-align: center;
            color: #ff8e5a;
            font-family:'Tan Pearl', sans-serif;
          }

          p.info {
          text-align: center;
          font-size: 0.8em;
          margin-top: 10px;

            @media (max-width: 960px) {
              font-size: 0.6em;
              margin-top: 5px;
            }
          }
        }

        .massage3-image {
          width: 30%;
          height: 100%;
          text-align: center;
          background-image: url('footMassage.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 20px;
          box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                      inset 5px 5px 5px rgba(0, 0, 0, 0.2);
          margin-right: 50px;

          @media (max-width: 960px) {
            width: 70%;
            height: 50%;
            margin: auto;
          }
        }
      }
    }

    .munz {
      position: relative; /* Ensures a stacking context */
      width: 90%;
      margin: auto;
      height: 850px;
      padding: 20px;

      @media (max-width: 960px) {
        height: 1000px;
      }

      .central-line-munz {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(191, 120, 87, 0.7);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1; /* Behind the content */
      }

      .munz-content {
        z-index: 10; /* Significantly above the central line */
        width: 100%;
        height: 90%;
        padding: 20px;
        background-color: #feefe2;
        border-radius: 20px;
        // box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        // margin: 10px auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #BF7857;
        border-top: 1px solid #bf78574e;
        border-bottom: 1px solid #bf78574e;

        @media (max-width: 960px) {
          padding: 10px;
          flex-direction: column;
        }

        .munz-text {
          width: 60%;
          margin: auto;
          font-size: 1em;
          text-align: left;

          @media (max-width: 960px) {
            width: 90%;
            font-size: 0.6em;
          }

          table {
            width:500px;
            margin: auto;

            @media (max-width: 960px) {
              width: 100%;
              margin-top:0;
            }

            th, td {
              padding: 5px 5px 0 5px;
              text-align: center;

              @media (max-width: 960px) {
                padding: 0px 2px 0 2px;
                width: 50%;
              }
            }
          }

          h1 {
            text-align: center;
            color: #ff8e5a;
            font-family:'Tan Pearl', sans-serif;
          }

          p.info {
            text-align: center;
            font-size: 0.8em;
            margin-top: 10px;

            @media (max-width: 960px) {
              font-size: 0.6em;
              margin-top: 5px;
            }
          }
        }

        .munz-image {
          width: 35%;
          height: 80%;
          text-align: center;
          background-image: url('munz.jpeg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 20px;
          box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                      inset 5px 5px 5px rgba(0, 0, 0, 0.2);
          margin-right: 50px;

          @media (max-width: 960px) {
            width: 70%;
            height: 50%;
            margin: auto;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
